/* Site Loader */
.site-loader {
  display: none;
  background: $color-white;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
  @include transition(width 0.6s $transitionEffect);
  &.anim {
    width: 25%;
  }
}

.logo-middle {
  display: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: calc(50% - 100px);
  width: 230px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

// Go to top

#gotoTop {
  position: fixed;
  right: 10px;
  bottom: 60px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  background-color: $color-black-50;
  z-index: z('go-to-top');
  @include transition(all 0.4s $transitionEffect);
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.landscape-alert {
  @include landscape {
    display: block;
  }
  position: fixed;
  width: 100%;
  height: 100%;
  background: $color-white;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 9999;
  display: none;
  padding: 20% 10% 0;
  overflow: hidden;
  p {
    font-size: 16px;
    line-height: 26px;
    color: $color-black;
  }
  span {
    margin-top: 10px;
    display: inline-block;
    border: 1px solid $color-black;
    padding: 5px 10px;
  }
}

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: z('site-header');
  height: $header-height;
  background: $color-gray-light;
  border-bottom: 1px solid $color-black-light;
  @include transition(all 0.4s ease);
  &.top {
    top: -$header-height;
    position: fixed;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  }
  &.sticky {
    top: 0px !important;
  }

  // Mobile Menu
  .mobile-menu {
    cursor: pointer;
    float: right;
    height: 32px;
    width: 32px;
    display: none;
    @include breakpoint($header-breakpoint) {
      display: block;
    }
    @include transition(left 0.6s ease);
    &:hover .nav-icon,
    &:hover .nav-icon::before,
    &:hover .nav-icon::after {
      background: $color-gray;
    }
    &.active {
      &:hover .nav-icon::before,
      &:hover .nav-icon::after {
        background: $color-gray;
      }
      .nav-icon {
        @include transition(background 0.6s ease);
        background: transparent;
        &::before,
        &::after {
          top: 0;
          @include transition(transform 0.3s ease);
        }
        &::before {
          @include transform(rotate3d(0, 0, 1, 45deg));
        }
        &::after {
          @include transform(rotate3d(0, 0, 1, -45deg));
        }
      }
    }
  }

  .nav-icon,
  .nav-icon::before,
  .nav-icon::after {
    background: $color-black-50;
    display: inline-block;
    width: 100%;
    height: 4px;
    @include transition(all 0.3s ease);
  }

  .nav-icon {
    position: relative;
    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50% 0;
      -webkit-transform-origin: 50% 50% 0;
      -moz-transform-origin: 50% 50% 0;
    }
    &::before {
      top: 10px;
    }
    &::after {
      top: -10px;
    }
  }
}

// Mobile menu

.mobile-nav {
  display: none;
  position: fixed;
  height: 100vh;
  right: 0;
  top: $header-height;
  width: 50%;
  background: #fefefe;
  z-index: z('mobile-menu');
  box-shadow: 0 0 5px 0 #999;
  @include transform(translateX(120%));
  @include transition(transform 500ms $transitionEffect);
  &.active {
    @include transform(translateX(0));
  }
  @include breakpoint($header-breakpoint) {
    display: block;
  }
}
